.main {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 230px;
    padding: 0 8px 170px;
}
.path {
    text-align: left;
    margin-bottom: 100px;
}
.path a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.epoch {
    text-align: center;
}
.epoch h1 {
    font-size: 140px;
    margin-bottom: 38px;
}
.epoch p {
    font-size: 20px;
    margin-bottom: 100px;
}
.epoch a {
    background-color: #bd4444;
    color: white;
    text-decoration: none;
    padding: 22px 50px;
    border-radius: 5px;
    font-size: 18px;
}
@media (max-width: 950px) {
    .epoch h1 {
        font-size: 80px;
    }
    .epoch p {
        font-size: 18px;
    }
}