.main {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 210px;
  margin-bottom: 150px;
  padding: 0 8px;
}
.path {
  text-align: left;
  margin-bottom: 100px;
}
.path a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}
.main h1 {
  font-size: 40px;
}
.billdetails {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.inputs input {
  height: 50px;
  background-color: #f5f5f5;
  border: none;
  padding-left: 10px;
}
.inputs label {
  color: gray;
  margin-bottom: -20px;
}
.radio {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}
.radio label {
  margin: 0;
  font-size: 18px;
}
.factor {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 40px;
  padding: 0 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prtitle {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.statistics {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.srow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 7px 0;
}
.checkimg {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}
.check {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 20px;
}
.coupon {
  width: 527px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.coupon input {
  padding: 12px 140px 12px 16px;
}
.coupon button {
  background-color: #bd4444;
  color: white;
  text-decoration: none;
  padding: 14px 35px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}
.placeorder {
  background-color: #bd4444;
  color: white;
  text-decoration: none;
  padding: 14px 35px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}
.coupon button:hover {
    background-color: #922f2f;
}
.placeorder:hover {
    background-color: #922f2f;
}
@media (max-width: 1350px) {
    .billdetails {
        justify-content: center;
        gap: 30px;
    }
}
@media (max-width: 1100px) {
    .billdetails {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .main h1 {
        margin: 0 0 50px 30px; 
    }
    .factor {
        width: 70%;
    }
}
@media (max-width: 750px) {
    .coupon {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}