.main {
    margin-top: 210px;
    padding: 0 355px;
    margin-bottom: 150px;
}
.path {
    text-align: left;
    margin-bottom: 100px;
}
.path a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.photos {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}
.mainpic {
    width: 500px;
    height: 600px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidepics {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-bottom: 170px;
}
.explanation {
    width: 373px;
    height: 63px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-right: 10px;;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.right h3 {
    font-size: 28px;
}
.status {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 14px;
}
.review {
    color: gray;
}
.stock {
    color: #00ff66;
    border-left: 1px solid gray;
    padding-left: 14px;
}
.price1 {
    font-size: 34px;
}
.title1 {
    font-size: 22px;
}
.colors {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.size {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.size input {
    width: 32px;
    height: 32px;
    appearance: none;
}
.size1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
.size1 label {
    margin-left: -32px;
}
.ssize label {
    margin-left: -32px;
}
.ssize {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db4444;
    border: 1px solid #db4444;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
.colors input {
    width: 20px;
    height: 20px;
}
.inbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.inbuttons input {
    width: 119px;
    height: 44px;
    font-size: 24px;
    padding: 0 20px;
    border: 1px solid black;
}
.buy {
    width: 166px;
    height: 45px;
    background-color: #db4444;
    border: none;
    color: white;
    border-radius: 4px;
}
.heart {
    width: 44px;
    height: 44px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.free {
    display: flex;
    justify-content: left;
    align-items: center;
}
.return {
    display: flex;
    justify-content: left;
    align-items: center;
}
.posting {
    width: 379px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;
    gap: 20px;
    border: 1px solid black;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
}
.redheading {
    color: #db4444;
    padding-left: 15px;
    border-left: 20px solid #db4444;
    height: 40px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    margin-bottom: 34px;
}
.fscards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fscards span {
    display: block;
    margin: 7px 0px 7px;
}
.fscards img {
    background-color: #f5f5f5;
    width: 270;
    height: 250;
    padding: 18px 25px;
}
.fscards a {
    text-decoration: none;
    color: black;
}
.fscards del {
    color: #7d8184;
    margin-left: 12px;
}
.price {
    color: #db4444;
}