.body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid gray;
}
.bg {
    background-color: black;
    width: 100%;
}
.blackstrip {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
}
.blackstrip a {
    color: white;
}
.lang {
    margin-left: 320px;
    margin-right: -320px;
}
.lang select {
    color: white;
    background-color: black;
    border: none;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 25px 10px 5px; 
}
.menu {
    list-style: none;
    display: flex;
}
.menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.menu li {
    margin: 0 15px;
    padding: 5px;
    border-radius: 6px;;
}
.menu li:hover {
    background-color: #f5f5f5;
}
.searcheart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options {
    display: flex;
    list-style: none;
}
.options li {
    margin: 10px;
}
.search {
    display: flex;
    align-items: center;
}
.search input {
    border: none;
    background-color: #f5f5f5;
    padding: 14px 70px 14px 14px;
    border-radius: 4px;
}
.mag {
    margin-left: -35px;
}
.burger {
    display: none;
}
@media (max-width: 950px) {
    .menu {
        display: none;
    }
    .blackstrip {
        display: none;
    }
    .options {
        display: none;
    }
    .burger {
        display: revert;
    }
    .topbar {
        padding-bottom: 15px;
    }
}
