.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    margin-top: 250px;
    margin-bottom: 190px;
    text-align: left;
}
.ut32 img {
    max-width: 100%;
    height: auto;
    padding: 6px;
}
@media (max-width: 950px) {
    .ut32 img {
        display: none;
    }
}
.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: -90px;
    margin-right: 90px;
}
.form input {
    display: block;
    padding: 10px 150px 5px 6px;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    font-size: 16px;
    margin-top: 22px;
}
h1 {
    font-size: 42px;
}
.p {
    font-size: 18px;
}
.form button {
    margin-top: 20px;
}
.signup button {
    background-color: #bd4444;
    color: white;
    text-decoration: none;
    padding: 18px 45px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}
.signup button:hover {
    background-color: #9c3434;
}
.signupa {
    color: black;
    text-decoration: none;
    padding: 17px 44px;
    border: 1px solid black;
    border-radius: 5px;
}
.signupa:hover {
    background-color: #c2c2c2;
}
.links {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.already {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}
.already a {
    color: rgba(0, 0, 0, 0.575);
}
.already a:hover {
    color: #bd4444;
}
.sgoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}